body{
    background-color: #F9F9F9;
    margin: 0;
}

header{
   border-bottom: 2px solid #779611;
   padding: 2% 5% 2% 5%;
}
.menu{
    margin: 2%;
}
.menu a{
    padding: 2%;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #707070;
}
.logo-text{
    color: #779611;
    text-transform: lowercase;
    font-weight: 600;
    font-size: 32px;
    font-family: 'Exo 2', sans-serif;
}
.container{
    display: flex;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #779611;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}
.container,.about-us h2{
    color: #779611;
    font-weight: 600;
    font-size: 48px;
    font-family: 'Exo 2', sans-serif;
    padding-right: 20%;
}
.container,.about-us p{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.container button{
    background-color: #779611;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #F9F9F9;
    padding: 3% 15% 3% 15%;
    border-radius: 40px;
    border: 0px;
    
}
.left-block{
    flex: 1;
    padding-right: 30%;
}
.right-block{
    flex: 1;
    
}
.shop{
    display: flex;
}
.element{
    flex: 1;
}
.container-2{
  padding: 5% 5% 0% 5%;
}
.container-2 h2{
color: #779611;
    font-weight: 600;
    font-size: 32px;
    font-family: 'Exo 2', sans-serif;
}
.container-2 p{
font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.shop-title{
 font-family: 'Montserrat', sans-serif;
 font-size: 24px;
 font-weight: 400;
 color: #779611;
}
.shop-text{
 font-family: 'Montserrat', sans-serif;
 font-size: 20px;
 font-weight: 400;
 color:#707070;
}
.footer{
    padding: 2% 5% 2% 5%;
}
.about-us{
    display: flex;
    border-bottom: 2px solid #779611;
    border-top: 2px solid #779611;
    align-items: center;
    padding: 5%;
    margin-top: 5%;
}