body{
    background-color: #F9F9F9;
    margin: 0;
}
img{
    border-radius: 15px;
}

header{
   border-bottom: 2px solid #779611;
   padding: 2% 5% 2% 5%;
}
.menu{
    margin: 2%;
}
.menu a{
    padding: 0.75vw;
    margin: 0.75vw;
    font-family: 'Montserrat', sans-serif;
    color: #707070;
}
.menu a:hover{
    background-color: #779611;
    color: #F9F9F9;
    border-radius: 20px;
    cursor:pointer;
    box-shadow: 0px 0px 5px #707070;
}
.logo-text{
    color: #779611;
    text-transform: lowercase;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;
}
.container{
    display: flex;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #779611;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
}
img{
    width: 100%;
    height: auto;
}
.container h2,.about-us h2{
    color: #779611;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;
}
.container p,.about-us p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.container button{
    background-color: #779611;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #F9F9F9;
    padding: 3% 15% 3% 15%;
    border-radius: 40px;
    border: 0px;
}
.container button:hover{
    background-color: #97be15;
    cursor: pointer;
    box-shadow: 0px 0px 3px #97be15;
    color: white;
}
.left-block{
    flex: 1;
    padding-right: 1%;
}
.right-block{
    flex: 1;
    align-items: flex-end;
}
.shop{
    display: flex;
}
.element{
    flex: 1;
    margin: 1%;
}
.element:hover{
   background-color: #ececec;
   border-radius: 20px;
   box-shadow: 0px 0px 5px #ececec;
    cursor: pointer;
}
.element:hover img{
    filter: brightness(80%);
    border-radius: 15px 15px 0px 0px;
}
.container-2{
  padding: 5% 5% 0% 5%;
}
.container-2 h2{
color: #779611;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;
}
.container-2 p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.shop-title{
 font-family: 'Montserrat', sans-serif;
 font-weight: 400;
 color: #779611;
 margin-left: 5%;
 margin-right: 5%;
}
.shop-text{
 font-family: 'Montserrat', sans-serif;
 font-weight: 400;
 color:#707070;
 margin-left: 5%;
 margin-right: 5%;
}
.footer{
    padding: 2% 5% 2% 5%;
}
.about-us{
    display: flex;
    border-bottom: 2px solid #779611;
    border-top: 2px solid #779611;
    align-items: center;
    padding: 5%;
    margin-top: 5%;
}

.big-text{
    font-size: 48px;
}
.medium-text{
    font-size: 26px;
}

.small-text{
    font-size: 24px;
}

@media(max-width: 900px){
    .big-text{
        font-size: 32px;
    }
    .medium-text{
    font-size: 22px;
    }
    .small-text{
    font-size: 20px;
    }
}

@media(max-width: 510px){
    .big-text{
        font-size: 24px;
    }
    .medium-text{
    font-size: 14px;
    }
    .small-text{
    font-size: 14px;
    }
}